# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo

# Secrets
.env
*.env
secrets.json
.streamlit/secrets.toml

# pyc
*.pyc
Ritusmita_AI_MarketLens_before_error_fix.ipynb
data/raw/
